mixin button-color(title,img)
  .button-color
    a.button-color__link(href="#")
      span=title
      img(src=img,alt="")
mixin title(title,text)
  .create-pro__head
    h2.create-pro-head__title=title
      span=text
mixin create-pro(title,img)
          .tiny-create-pro__body
            .create-pro-img
              ibg.bg  
                img(src="assets/img/create-pro/img-0.png",alt="img") 
            .tiny-create-pro__icon
              img(src=img,alt="img")
            .tiny-create-pro__title=title
mixin fairytales-item(title1,title2,title3,text,text1,img,imglong, img3,img4,img5,img6)
            .fairytales-item__body
              .fairytales-item__title 
                img.plus-img(src="assets/img/fairytales/img-20.png",alt="")
                img.img1(src=img,alt="")
                img.img-long(src=imglong,alt="")
                img.img3(src=img3,alt="")
                img.img4(src=img4,alt="")
                img.img5(src=img5,alt="")
                img.img6(src=img6,alt="")
                p=title1 
                p=title2
                p=title3
              .fairytales-item__text 
                img(src="assets/img/fairytales/Vector.svg",alt="img") 
                p=text
                p=text1


mixin scheme-item(text1,text2,text3,img1,img2,img3 , img4)
          .tiny-scheme__body.border 
            .tiny-scheme__img
              img(src=img2)
            .tiny-scheme__img3
              img(src=img3)
            .tiny-scheme__img4
              img(src=img4)
            .tiny-scheme__icon 
              img(src=img1)
            .tiny-scheme__text
              span=text1
              br
              span=text2
              br
              span=text3
mixin designers(title,img)
          .content-designers__item.tiny-designer
            .tiny-designers__body
              .tiny-designers__icon
                img(src=img,alt="")
              .tiny-designers__title=title

mixin colos(text,img)
      .designers__colos 
        p=text
        img(src=img,alt="img")
mixin discription(text,img)
    .designers__discription
      p=text
      img(src=img,alt="img")
mixin vika(img)
      .designers__vika
        img(src=img,alt="img") 
        //- "assets/img/designers/colos.png"

mixin projects-nav(text)
           a.projects-nav__item(href="#")  
              img.projects-nav__img-normal(src="assets/img/projects/projects-grey.png",alt="img") 
              img.projects-nav__img-active(src="assets/img/projects/projects-color.png",alt="img") 
              span=text

mixin projects-galery(img,text)            
            .projects-galery__item
              .projects-galery__mask
              .projects-galery__link
                span Подробнее
                a(href="#")
              .ibg.bg
                img(src=img,alt="img")
              .projects-galery__discr
                img(src="assets/img/projects/projects-plaha-big.png",alt="img")
                span=text